body {
	background: #072948 url(http://x.hackforums.net/images/modern_bl/mosaic_bl.png) fixed;
	color: #ccc;
	text-align: center;
	line-height: 1.4;
	font-family: Verdana, Arial, Sans-Serif;
	font-size: 14px;
	font-style: normal;
}

a:link {
	color: #FFF;
	text-decoration: none;
}

a:visited {
	color: #FFF;
	text-decoration: none;
}

a:hover, a:active {
	color: #499FED;
	text-decoration: none;
}

#container {
	width: 95%;
	color: #cccccc;
	border: 0px solid #072948;
	margin: auto auto;
	padding: 0 10px;
	text-align: left;
}

#content {
	color: #cccccc;
	width: auto !important;
}

.menu ul {
	background: #072948;
	color: #499FED;
     -moz-border-radius:5px 5px 0 0;
     border-radius:5px 5px 0 0;
              height: 20px;
	font-weight: bold;
              padding: 0;
	text-align: center;
}

.menu ul a:link {
	color: #CCCCCC;
	text-decoration: none;
}

.menu ul a:visited {
	color: #cccccc;
	text-decoration: none;
}

.menu ul a:hover, .menu ul a:active {
	color: #499FED;
	text-decoration: none;
}

#panel {
	background: #333333;
	color: #cccccc;
	font-size: 13px;
	border: 1px solid #072948;
	padding: 6px;
     -moz-border-radius: 0 05px 5px;
     border-radius: 0 0 5px 5px;
}

table {
	color: #cccccc;
	font-family: Verdana, Arial, Sans-Serif;
	font-size: 14px;
}

.tborder {
	background: #072948;
	width: 100%;
	margin: auto auto;
	border: 1px solid #333333;
}

.thead {
	background: #072948;
	color: #cccccc;
}

.thead a:link {
	text-decoration: none;
}

.thead a:visited {
	text-decoration: none;
}

.thead a:hover, .thead a:active {
	text-decoration: none;
}

.tcat {
	background: #393939;
	color: #ccc;
	line-height: 1.2em;
	font-size: 12px;
}

.tcat a:link {
	color: #efefef;
}

.tcat a:visited {
	color: #efefef;
}

.tcat a:hover, .tcat a:active {
	color: #499FED;
}


.trow1 {
	background: #333333;
}

.trow2 {
	background: #333333;
}

.trow_shaded {
	background: #999999;
            color: #000000;
}

.trow_sep {
	background: #000000;
	color: #cccccc;
	font-size: 12px;
	font-weight: bold;
}

.tfoot {
	background: #072948;
	color: #cccccc;
}

.tfoot a:link {
	color: #ffffff;
	text-decoration: none;
}

.tfoot a:visited {
	color: #ffffff;
	text-decoration: none;
}

.tfoot a:hover, .tfoot a:active {
	color: #499FED;
	text-decoration: none;
}

.bottommenu {
	background: #333333;
	color: #cccccc;
	border: 1px solid #072948;
	padding: 4px;
	text-align: center;
}

.navigation {
	color: #ccc;
	font-size: 13px;
	font-weight: bold;
}

.navigation a:link {
	color: #ccc;
	text-decoration: none;
}

.navigation a:visited {
	color: #ccc;
	text-decoration: none;
}

.navigation a:hover, .navigation a:active {
	color: #499FED;
	text-decoration: none;
}

.navigation .active {
	color: #efefef;
	font-size: 14px;
	font-weight: bold;
}

.smalltext {
	font-size: 12px;
}

.largetext {
	font-size: 16px;
	font-weight: bold;
}

input.textbox {
	background: #cccccc;
	color: #000000;
	border: 1px solid #0f5c8e;
	padding: 1px;
}

textarea {
	background: #cccccc;
	color: #000000;
	border: 1px solid #0f5c8e;
	padding: 2px;
	font-family: Verdana, Arial, Sans-Serif;
	line-height: 1.4;
	font-size: 14px;
}

select {
	background: #cccccc;
	border: 1px solid #072948;
}

.editor {
	background: #f1f1f1;
	border: 1px solid #ccc;
}

.editor_control_bar {
	background: #cccccc;
	border: 1px solid #072948;
}

.autocomplete {
	background: #cccccc;
	border: 1px solid #000;
	color: black;
}

.autocomplete_selected {
	background: #adcee7;
	color: #000;
}

.popup_menu {
	background: #0F5799;
	border: 1px solid #333333;
}

.popup_menu .popup_item {
	background: #0F5799;
	color: #fff;
}

.popup_menu .popup_item:hover {
	background: #0F5799;
	color: #fff;
}

.trow_reputation_positive {
	background: #333333;
}

.trow_reputation_neutral {
	background: #333333;

}

.trow_reputation_negative {
	background: #333333;

}
.reputation_positive {
	color: #32CD32;
}

.reputation_neutral {
	color: #666666;
}

.reputation_negative {
	color: #CC3333;
	font-weight:bold;
}

img {
	border: none;
}

.clear {
	clear: both;
}

.hidden {
	display: none;
	float: none;
	width: 1%;
}

.float_left {
	float: left;
}

.float_right {
	float: right;
}

.menu ul {
	list-style: none;
	margin: 0;
}

.menu li {
	display: inline;
	padding-left: 5px;
}

.menu img {
	padding-right: 5px;
	vertical-align: top;
}

#panel .links {
	margin: 0;
	float: right;
}

.expcolimage {
	float: right;
	width: auto;
	vertical-align: middle;
	margin-top: 2px;
}

img.attachment {
	border: 1px solid #E9E5D7;
	padding: 2px;
}

hr {
	background-color: #000000;
	color: #000000;
	height: 1px;
	border: 0px;
}

#copyright {
	font: 11px Verdana, Arial, Sans-Serif;
	margin: 0;
	padding: 10px 0 0 0;
}

#debug {
	float: right;
	text-align: right;
	margin-top: 0;
}

.subforumicon {
	border: 0;
	vertical-align: middle;
}

.separator {
	margin: 5px;
	padding: 0;
	height: 0px;
	font-size: 1px;
	list-style-type: none;
}

form {
	margin: 0;
	padding: 0;
}

.popup_menu .popup_item_container {
	margin: 1px;
	text-align: left;
}

.popup_menu .popup_item {
	display: block;
	padding: 3px;
	text-decoration: none;
	white-space: nowrap;
}

.popup_menu a.popup_item:hover {
	text-decoration: none;
}

.autocomplete {
	text-align: left;
}

.logo {
	text-align: center;
              padding-bottom: 5px;
}

.trow_selected td {
	background: #999999;
            color: #000000;
}

blockquote {
	border: 1px dashed #ccc;
            color: #ccc;
	margin: 0;
	background: #777777;
	padding: 4px;
}

blockquote cite {
	font-weight: bold;
	border-bottom: 1px dashed #ccc;
	font-style: normal;
	display: block;
	margin: 4px 0;
}

blockquote cite span {
	float: right;
	font-weight: normal;
}

.codeblock {
	border: 1px dashed #ccc;
            color: #ccc;
	margin: 0;
	background: #777777;
	padding: 4px;
}

.codeblock .title {
	border-bottom: 1px solid #ccc;
	font-weight: bold;
	margin: 4px 0;
}

.codeblock code {
	overflow: auto;
	height: auto;
	max-height: 200px;
	display: block;
	font-family: Monaco, Consolas, Courier, monospace;
	font-size: 14px;
}

.subject_new, a.subject_new {
	color: #cccccc;
	font-weight: bold;
}

a.subject_new:hover {
	color: #499FED;
}

.highlight {
	background: #FFFFCC;
	padding-top: 3px;
	padding-bottom: 3px;
}

.pm_alert {
	background: #333333;
	border-top: 1px solid #499FED;
	border-bottom: 1px solid #499FED;
	text-align: center;